
<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username" ng-model="user.username">
                    <input type="password" placeholder="password" ng-model="user.password">
                    <button type="button" ng-click="login('1')" class="btn btn-info btn-block login" >login</button>
                </form>
            </div>
        </div>

</div>
